/*** GENERAL STYLING ***/
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;/*This ensures that the page scrolling is smooth when the buttons on the nav bar is clicked*/
}
body{
    margin: 0%;/*This is to ensure our site displays all the way to the edge of the browser screem*/
    opacity: 1;/*This adds a transition affect the page loading fade in effect*/
    font-family: Verdana, sans-serif;
    overflow-x: hidden;/*this prevens the horizontal scroll bar from appearin when the quote is hovered*/
    user-select: none;/*This prevents the text on the webpage from being highlighted by user*/
}

/*THIS SECTION CONTRIBUTES TO THE FASE EFFECT FOR THE PAGE THAT OCCURS WHEN THE PAGE IS LOADED*/
body.fade-out{
    opacity: .1;/*This sets the level of opacity at the start of page load*/
    transition: none;
}
/* CSS FOR LIGHT AND DARK MODE */
:root{
    --primary-color: #fff;
    --secondary-color: #0a404b;
    --tertiary-color: #eadfe3;
}

.dark-theme{
    --primary-color: #000;
    --secondary-color: #fff;
    --tertiary-color: black;
}
/* BODY */

/* The animation effect for moving the nav bar in from above the top of the screen upon page load */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
  }

  /* The animation effect for moving the nav bar in from above the top of the screen upon page load */
@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
  }
  
  
  /* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
  @keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
  }


  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

/* HEADING 2 ELEMENTS */
h2{
    text-transform: uppercase; /*Capitalises all h1 headings */
    font-family: Verdana, sans-serif; /*sets the fonts family of all h1 headings*/
    text-align: center; /*centering all h1 elements*/
    margin-top: 3%; /* adds a small margin above h1 elements*/
    color: var(--secondary-color);
    
}

/*HEADING 2 ELEMENT HOVER EFFECT */
h2:hover{
    filter:grayscale(5%); /*adds a slightly gray filter to the h1  heading when hovered over*/
    transform: scale(1.1); /*When the h1 elements are hovered over they increase in size by 1.1*/
    transition: transform 1s; /*This causes the transformation to last 1 second*/
}

/*STYLING FOR PORTFOLIO TITLE TEXT*/

.white-text{
    color: var(--secondary-color); /*This is used to change the color of the portfolio title text*/
}

/*PARAGRAPH ELEMENTS*/
p{
    font-family: Verdana, sans-serif;
   letter-spacing: 1px;
    color: var(--secondary-color);
    
}


.darkmode-background{
    background-color: var(--primary-color);
}


/*CENTER CLASS - THIS APPLIES TO ALL ELEMENTS WITH THE CLASS "CENTER"*/
.center{
    text-align: center; /*this center aligns the text*/
}


/*The @media rule is used in media queriers to apply different styles for 
different media/types of devices*/
/*On screens 576 px and smaller the image will be 100px tall and centered
vertically in the column*/
/*STYLING FOR FOOTER ELEMENT*/
footer{
    padding:2%;/*this gives the footer padding that is equal to 2%
                of the width of the element's area*/
    background-color: var(--tertiary-color);
}

/***END OF GENERAL STYLING***/
.navbar{
    overflow: hidden; /*this ensures that any content that overflows beyond
                        the bondary of the navbar is not displayes*/
    background-color: #42bfdd;/*This colors the navbar*/
    position: fixed; /*This keeps the navbar at the top of the screen as we 
                        scroll*/
    top: 0; /*this ensure no space is displayed above the navbar*/
    width: 100%; /*this makes the navbar span the entire width of the page*/
    z-index: 1;/*this ensure other elemetns don't display over the navbar*/
}

/*moveNave animation efftec for moving the nav bar in from the left of the screen*/
@keyframes moveNav{
    from{left: -100vw;} /*the navbar is starting off screen to the left*/
    to{left:0vw;} /*this moves the navbar into place on the screen*/
}

/*Navbar links*/
.navbar a{
    float:left; /*This specifies that the text floats on the left on the navbar*/
    display:block; /*this ensures that other text will be displayed on the same line
                    or row, instead of a new line*/
    color: #f0f6f6;/*font color for text on the navbar*/
    
    text-decoration: none;/*this gets rid of the underlines under the text on our navbar*/
    font-family: Verdana, sans-serif; /*this specifies the font family for text on 
                                            our navbar*/
    font-size: 1.5vw;/*this specifies the font size for the text on our navbar*/
    text-align: center;/*this centers the text within its container*/
    

}

.me-image {
  margin-left: 0;
  width: 200px;
  height: 200px; /* Different width and height create the oval */
  border-radius: 50%;
  border: 2px solid #0a404b;
  object-fit: cover; /* Ensures the image doesn't look stretched */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.my-name{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 20px !important;
    letter-spacing: 1px;
}

.job-title{
    color: var(--secondary-color);
    letter-spacing: 1px;
    font-size: 36px;
    font-weight: 600;
    font-family: Verdana, sans-serif;
}



.about-me-image{
  border-radius: 8%;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover; /* Ensures the image doesn't look stretched */
}

.col-md-6{
    width: 15% !important;
    
}

.projects-title{
    text-align: left;
    color: var(--secondary-color);;
    font-weight: 600;
    font-size: 36px !important;
    letter-spacing: 1px;
    font-family: Verdana, sans-serif;
}

.more-about-me{
    margin-bottom: 2%;
    text-align: center;
   color: var(--secondary-color);
    letter-spacing: 1px;
    font-size: 36px;
    font-weight: 600;
    font-family: Verdana, sans-serif;
}

.intro-section{

  margin-top: 5%;
}


.project-section{
    
    margin-top: 3%;
}

.about-me-section{
    
    margin-top: 3%;
}



.badge-container{
    font-family: Verdana, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.badge-focus{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: verdana, sans-serif;
    color: var(--secondary-color);
}

.badge-style{
    background-color: #0a404b;
    color: #fff;
   
}

.card-text{
    font-family: Verdana, sans-serif !important;
    letter-spacing: 1px;
}

.col .card{
    
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-style{
    background-color: var(--primary-color);
}

/* .card-body-style{
    border-bottom: 3px solid #bbe6e4;
} */

.card-title-style{
    color: var(--secondary-color) !important;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 550;
    letter-spacing: 1px;
    font-family: Verdana, sans-serif;
}

.card-style .card-btn{
    background-color: #42bfdd;
    border: 1px solid #ff66b3;
    color: #fff;
    font-family: Verdana, sans-serif;
    width: 100px;
    font-size: 12px;
    height: 30px;
}

.card-style .card-btn:hover{
    background-color: #bbe6e4;
    border: 1px solid #42bfdd;
    color: #fff;
}

/*moveNavText animation effect for moving the navbar text from above the view to the 
navbar*/
@keyframes moveNavText{
    from {top: -100vw;} /*this sets the navbar text 100% above the viewport*/
    to{top: 0vw;}/*this lowers the navbar text onto the navbar*/
}

/* screens 567px and smaller will display navbar links equally distributed*/
@media screen and (max-width: 576px){
    .navbar a{
        width: 25%;/*this makes each link take us 1/4 of the navbar */
        font-size:12px;
    }
}

/*NAVBAR HOVER EFFECTS*/
.navbar a:hover{
    background-color:#bbe6e4;/*defined the background color that will display
                                when you hover over a link*/
    color:#42bfdd;/*the font color that will display when navbar a elements
                    are hovered over*/
  
    cursor: pointer;
}

/*NAVBAR HOME BUTTON*/


@keyframes zoomingoutsinglefeatured{
    0%{
        transform:scale(1.5,1.5);
    }
    100%{
        transform: scale(1,1);
    }
}


#icon{
    width: 2vw;
    cursor: pointer;
    float: right;
}

/***END OF NAVBAR STYLING***/

/***VIDEO STYLING***/
/*formating for background video*/
#typing{
    position:fixed;/*fixes video to page*/
    right:0;/*ensures no spacing between the edge of the video*/
    bottom:0;/*ensures no spacing betweeen the bottom of vid and page*/
    min-width: 100%;/*displays across the full width of page*/
    z-index: -1;/*places the video behind the other elements*/
    animation: zoominoutsinglefeatured 5s;
}
/*screens that are 576 px and smaller will not display the background*/
@media screen and (max-width:576px){
#typing{
    display:block;
 }
}

/*this animation effect causes the overlay video text to move up from the bottom
of the page upon page load*/
@keyframes moveVideoText{
    from{top:-100vw;}/* this sets the postion of the video text to above the viewport*/
    to{top:0vw;}/*this move the video text to the normal postioning on the viewport*/
}
/***END OF VIDEO STYLING***/
/*** TITLE STYLING ***/


/***** END TITLE STYLE ***/  
/****CARDS STYLING******/
/* Design */
.main{
    max-width: 1500px;
    margin: 0 auto;
  }
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
    cursor: pointer;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

 
  .card_btn {
    background-color: #42bfdd;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  

  
  @media (min-width: 40rem) {
    .cards_item {
      
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      
    }
  }
    
  
  /***END CARD STYLING****/

/***CONTACT STYLING****/
.buttonStyle{
    text-align: center;
    padding-bottom: 15%;
}
.contactButton{
  align-items: center;
  appearance: none;
  background-image: var(--primary-color);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--secondary-color);
  cursor: pointer;
  display: inline-flex;
  font-family: Verdana, sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}


/***FOOTER element ****/
footer{
    padding: 1%;
    background-color: var(--third-color);   
}

