/*** GENERAL STYLING ***/
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;/*This ensures that the page scrolling is smooth when the buttons on the nav bar is clicked*/
}
/* BODY */
body{
    margin: 0%;/*This is to ensure our site displays all the way to the edge of the browser screem*/
    opacity: 1;/*This adds a transition affect the page loading fade in effect*/
    transition: 3s opacity;/*this causes a 3 second fade in*/
    letter-spacing: .1vw;/*vw is a relative measurement*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0vw;
    overflow-x: hidden;/*this prevens the horizontal scroll bar from appearin when the quote is hovered*/
    user-select: none;/*This prevents the text on the webpage from being highlighted by user*/
}
/*THIS SECTION CONTRIBUTES TO THE FASE EFFECT FOR THE PAGE THAT OCCURS WHEN THE PAGE IS LOADED*/
body.fade-out{
    opacity: .1;/*This sets the level of opacity at the start of page load*/
    transition: none;
}
/* CSS FOR LIGHT AND DARK MODE */
:root{
    --primary-color: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
    --secondary-color: #fff;
    --tertiary-color: #EAE1DF;
}

.dark-theme{
    --primary-color: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    --secondary-color: grey;
    --tertiary-color: linear-gradient(315deg, #2d3436 0%, #000000c7 74%);
}






/* The animation effect for moving the nav bar in from above the top of the screen upon page load */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
  }

  /* The animation effect for moving the nav bar in from above the top of the screen upon page load */
@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
  }
  
  
  /* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
  @keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
  }


/* HEADING 2 ELEMENTS */
h2{
    text-transform: uppercase; /*Capitalises all h1 headings */
    font-family: 'Courier New', Courier, monospace; /*sets the fonts family of all h1 headings*/
    text-align: center; /*centering all h1 elements*/
    margin-top: 3%; /* adds a small margin above h1 elements*/
    color: #1a1a1a;
    
}

/*HEADING 2 ELEMENT HOVER EFFECT */
h2:hover{
    filter:grayscale(5%); /*adds a slightly gray filter to the h1  heading when hovered over*/
    transform: scale(1.1); /*When the h1 elements are hovered over they increase in size by 1.1*/
    transition: transform 1s; /*This causes the transformation to last 1 second*/
}

/*STYLING FOR PORTFOLIO TITLE TEXT*/

.white-text{
    color: var(--secondary-color); /*This is used to change the color of the portfolio title text*/
}

/*PARAGRAPH ELEMENTS*/
p{
    font-family: 'Courier New', Courier, monospace, Rockwell Extra Bold;
    text-align: justify; /*justify text within paragraph elements*/
    letter-spacing: .1vw; /*This expands the text slightly*/
    font-size: 1.5vw;
    padding-left: 1vw; /*adds padding to the left of the paragraph element*/
    padding-right: 1vw; /*adds padding to the right of the paragraph element*/
    color: black;
    
}

h1{
    text-align: center;
    font-size: 10vw;
    color: var(--secondary-color);
    padding-top: 7%;
    margin-top: 120vw;
}

/*PARAGRAPH ELEMENT HOVER EFFECT*/
p:hover{
    transition: transform 1s; /*This make the transform effect last 1 second*/
    transform: scale(1.01); /*This makes the paragraphs increase slightly in size when 
                              hovered over*/
}

/*CENTER CLASS - THIS APPLIES TO ALL ELEMENTS WITH THE CLASS "CENTER"*/
.center{
    text-align: center; /*this center aligns the text*/
}


/*The @media rule is used in media queriers to apply different styles for 
different media/types of devices*/
/*On screens 576 px and smaller the image will be 100px tall and centered
vertically in the column*/
/*STYLING FOR FOOTER ELEMENT*/
footer{
    padding:2%;/*this gives the footer padding that is equal to 2%
                of the width of the element's area*/
    background-color: var(--tertiary-color);
}

/***END OF GENERAL STYLING***/
.Navbar{
    overflow: hidden; /*this ensures that any content that overflows beyond
                        the bondary of the navbar is not displayes*/
    background-color: var(--tertiary-color);/*This colors the navbar*/
    position: fixed; /*This keeps the navbar at the top of the screen as we 
                        scroll*/
    top: 0; /*this ensure no space is displayed above the navbar*/
    width: 100%; /*this makes the navbar span the entire width of the page*/
    z-index: 1;/*this ensure other elemetns don't display over the navbar*/
    -webkit-animation: moveNav 5s; /*this applies that movNav animation below 
                                    for safari 4.0-8.0*/
    animation:moveNav 5s;/*this applies the moveNav animation for all other browsers*/
}

/*moveNave animation efftec for moving the nav bar in from the left of the screen*/
@keyframes moveNav{
    from{left: -100vw;} /*the navbar is starting off screen to the left*/
    to{left:0vw;} /*this moves the navbar into place on the screen*/
}

/*Navbar links*/
.Navbar a{
    float:left; /*This specifies that the text floats on the left on the navbar*/
    display:block; /*this ensures that other text will be displayed on the same line
                    or row, instead of a new line*/
    color: #917c78;/*font color for text on the navbar*/
    padding: .75vw 1vw;/*this adds padding around our text*/
    text-decoration: none;/*this gets rid of the underlines under the text on our navbar*/
    font-family: Avant Garde, Helvetica; /*this specifies the font family for text on 
                                            our navbar*/
    font-size: 1.5vw;/*this specifies the font size for the text on our navbar*/
    text-align: center;/*this centers the text within its container*/
    position:relative;/*this sets the text relative to its normal positioning
                        allowing us to use the animation below*/
    -webkit-animation: moveNavText 5.75s;/*animation for safari 4.0-8.0*/
    animation: moveNavText 5.75s; /*applies the moveNavText animation for 5.75s*/
}

/*moveNavText animation effect for moving the navbar text from above the view to the 
navbar*/
@keyframes moveNavText{
    from {top: -100vw;} /*this sets the navbar text 100% above the viewport*/
    to{top: 0vw;}/*this lowers the navbar text onto the navbar*/
}

/* screens 567px and smaller will display navbar links equally distributed*/
@media screen and (max-width: 576px){
    .Navbar a{
        width: 25%;/*this makes each link take us 1/4 of the navbar */
        font-size:12px;
    }
}

/*NAVBAR HOVER EFFECTS*/
.Navbar a:hover{
    background-color:#f4f4f4;/*defined the background color that will display
                                when you hover over a link*/
    color:#B79492;/*the font color that will display when navbar a elements
                    are hovered over*/
    font-weight: bold;/*this makes the text bold when hovered over*/
    cursor: pointer;
}

/*NAVBAR HOME BUTTON*/
.Navbar a.active{/*this targets the a element on the navbar with the "active"class*/
    background-color: #F7F3F3;
}

@keyframes zoomingoutsinglefeatured{
    0%{
        transform:scale(1.5,1.5);
    }
    100%{
        transform: scale(1,1);
    }
}


#icon{
    width: 2vw;
    cursor: pointer;
    float: right;
}

/***END OF NAVBAR STYLING***/

/***VIDEO STYLING***/
/*formating for background video*/
#typing{
    position:fixed;/*fixes video to page*/
    right:0;/*ensures no spacing between the edge of the video*/
    bottom:0;/*ensures no spacing betweeen the bottom of vid and page*/
    min-width: 100%;/*displays across the full width of page*/
    z-index: -1;/*places the video behind the other elements*/
    animation: zoominoutsinglefeatured 5s;
}
/*screens that are 576 px and smaller will not display the background*/
@media screen and (max-width:576px){
#typing{
    display:block;
 }
}
#Video_Text{
    background: rgba(0,0,0,0.5); /*this provides a semi-transparent background
                                    for the text to sit over*/
    color:var(--secondary-color); /*makes the font color white*/
    width:100%;/*ensures the video-text container fills the width of the video*/
    height: 100vh;/*ensures the video-text container filles the height of the viewport*/
    padding-top: 2vh;/*adds paddingt, background goes slightly beyond text*/
    padding-bottom: 1vh;
    margin: 23%;
    padding:2vh;/*this adds padding around the video-text container so that the
                    background goes slightly beyond the text*/
    text-align: center;
    /*position:relative;/*this sets the text relative to its normal positioning
                        allowing us to use the animation below*/
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}
/*this animation effect causes the overlay video text to move up from the bottom
of the page upon page load*/
@keyframes moveVideoText{
    from{top:-100vw;}/* this sets the postion of the video text to above the viewport*/
    to{top:0vw;}/*this move the video text to the normal postioning on the viewport*/
}
/***END OF VIDEO STYLING***/
/*** TITLE STYLING ***/


/***** END TITLE STYLE ***/  
/****CARDS STYLING******/
/* Design */
.main{
    max-width: 1500px;
    margin: 0 auto;
  }
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
    cursor: pointer;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    color: var(--secondary-color);
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: var(--secondary-color);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: var(--primary-color);
  }
  
  .card_title {
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: var(--secondary-color);
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  /***END CARD STYLING****/

/***CONTACT STYLING****/
.buttonStyle{
    text-align: center;
    padding-bottom: 15%;
}
.contactButton{
  align-items: center;
  appearance: none;
  background-image: var(--primary-color);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--secondary-color);
  cursor: pointer;
  display: inline-flex;
  font-family: 'Courier New', Courier, monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.contactButton:focus {
  box-shadow: var(--primary-color);
}

.contactButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #cf7c88 0 -3px 0 inset;
  transform: translateY(-2px);
}

.contactButton:active {
  box-shadow: #EF8D9C 0 3px 7px inset;
  transform: translateY(2px);
}


/***FOOTER element ****/
footer{
    padding: 1%;
    background-color: var(--third-color);   
}

